# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment variables
env.py

# Database
*.sqlite3

# Logs
*.log

# Django static and media files
staticfiles/

# Miscellaneous
*.bak
*.swp

# Ignore node_modules folder
node_modules/
