# GitHub-related
.github/

# Python
__pycache__/
*.py[cod]

# Node.js
node_modules/

# Environment variables
env.py

# Core dumps
core.Microsoft*
core.mongo*
core.python*

# Miscellaneous
cloudinary_python.txt
