# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment variables
.env

# Database
*.sqlite3

# Logs
*.log

# Django static and media files
staticfiles/
media/

# Miscellaneous
*.bak
*.swp
